body{
    color:rgb(28, 4, 51);
    background:rgb(241, 241, 241);
    padding: 20px;
    display: flex;
    justify-content: center;
}

hr{
    border:2px whitesmoke solid;
}

.card {
    border-radius: 15px;
    background-color: white;
    box-shadow: rgb(219, 219, 219) 0px 0px 50px;
    padding: 50px;
    text-align: center;
    margin-bottom: 30px;
}